/* import Raleway Font for Headings */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* import Open Sans Font for body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --pri-dark-blue: hsl(243, 87%, 12%);
    --pri-desaturated-blue: hsl(238, 22%, 44%);
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    --neutral-grayish-blue: hsl(240, 75%, 98%);
    --neurtal-light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: hsl(0, 0%, 0%);
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

header {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-family: "Raleway", sans-serif;
}

header .logo-ctn {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-ctn img {
    height: clamp(2rem, 4vw, 4rem);
}

header nav {
    width: 60%;
    height: inherit;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

nav ul li {
    text-transform: capitalize;
    width: 6rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

main {
    width: 100%;
    height: auto;
}

main section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 4rem;
}

main .landing {
    height: calc(100vh - 5rem);
    position: relative;
}


section .info-ctn {
    width: 40%;
}

section .img-ctn {
    width: 40%;
}

.landing .info-ctn {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
}

h1 {
    font-size: clamp(1.5rem, 7vw, 2rem);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-size: clamp(1.25rem, 10vw, 1.75rem);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.75rem, 5vw, 1rem);
}

.info-ctn  .input-ctn {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-ctn div {
    width: 60%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.input-ctn div label {
    display: none;
    position: absolute;
    font-size: 0.75rem;
    bottom: 0;
    left: 0;
    color: orangered;
}

input {
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    font-size: clamp(0.75rem, 5vw, 1rem);
}

input:invalid {
    border: 1px solid orangered;
}

.input-ctn input::placeholder {
    color: var(--neurtal-light-gray);
}

button {
    font-size: clamp(0.75rem, 5vw, 1rem);
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--accent-bright-blue);
    color: var(--neutral-grayish-blue);
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

button:hover {
    background-color: hsl(224, 93%, 70%);
}

.landing .img-ctn {
    height: calc(100vh - 10rem);
    display: grid;
    place-items: center;
}

.img-ctn img {
    width: 100%;
}

.landing picture {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    /* display: none; */
    overflow: hidden;
}

.landing picture img {
    height: 100%;
    width: 100%;
}

main .prod-ctn {
    height: 100vh;
    background-color: var(--neutral-grayish-blue);
}

.prod-ctn .info-ctn {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.prod-ctn .info-ctn > p {
    text-wrap: pretty;
}

.info-ctn .link-ctn {
    width: -moz-fit-content;
    width: fit-content;
}

.link-ctn p a {
    color: var(--accent-moderate-cyan);
    font-family: 'Raleway', sans-serif;
}

.link-ctn hr {
    border: 1px solid var(--accent-moderate-cyan);
}

.info-ctn .testimonial-ctn {
    background-color: white;
    width: 75%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px var(--neurtal-light-gray);
}

.testimonial-ctn .test-person {
    display: flex;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.test-person img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.prod-ctn .img-ctn {
    height: inherit;
    display: grid;
    place-items: center;
}

main .call-to-action {
    height: 40dvh;
    background-color: var(--pri-desaturated-blue);
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.call-to-action .info-ctn {
    width: 42%;

}

.call-to-action .info-ctn h2 {
    color: var(--neutral-grayish-blue);
    padding: 0.5rem 0;
}

.call-to-action .info-ctn p {
    color: var(--neutral-grayish-blue);
    text-wrap: pretty;
}

.call-to-action .input-ctn {
    width: 40%;
}

.call-to-action .input-ctn div {
    width: 100%;
    height: 5rem;
}

.call-to-action .input-ctn div label {
    padding-left: 0.5rem;
}



/* media query for small screen devices */
@media (320px <= width <= 500px) {
    header {
        padding: 0;
    }

    nav ul {
        gap: 0.15rem;
    }

    main section {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    main .landing {
        height: auto;
    }

    .landing .info-ctn {
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .landing .img-ctn {
        width: 100%;
        height: 50dvh;
    }

    .info-ctn h1 {
        text-align: center;
        padding: 0 2%;
    }

    .info-ctn p {
        text-align: center;
        padding: 0 2%;
        text-wrap: pretty;
    }

    .info-ctn .input-ctn {
        flex-direction: column;
        height: 8rem;
        gap: 0;
        padding: 0 5%;
    }

    .input-ctn div {
        width: 100%;
        height: 5rem;
    }

    button {
        width: 100%;
    }
}